@import "../../styles/_mixins.scss";

/* .secondary-cursor {
  z-index: 1000;

  position: fixed;
  pointer-events: none;
  width: 10px;
  height: 10px;
  background-color: #bdff00;
  border-radius: 100%;
} */

.secondary-cursor {
    z-index: 1000;
    border-radius: 50%;
    pointer-events: none;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    position: fixed;
  
    background: white;
    mix-blend-mode: difference;
    transition: width 0.25s ease-in-out, height 0.25s ease-in-out;

    &.mask {
        width: 220px;
        height: 220px;
            mask-image: url('/mask.svg');
            mask-repeat: no-repeat;
            mask-size: 220px;
            background: var(--primary);
            color: black;
    }

    &.mask-burn {
        width: 120px;
        height: 120px;
            mask-image: url('/mask.svg');
            mask-repeat: no-repeat;
            mask-size: 120px;
            background: #f8f8f8;
            mix-blend-mode: darken;
    }

    &.unity {
        width: 220px;
        height: 220px;
        border-radius: 10px;
        background-image: url('/unity.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center center;
        
    }

    &.evolution {
      width: 220px;
        height: 220px;
      border-radius: 0px;
      background-image: url('/evolution.jpg');
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center center;
      background-color: transparent;
  }

    &.mask2 {
        width: 220px;
        height: 220px;
        -webkit-mask-image: url('/mask2.svg');
        mask-image: url('/mask2.svg');
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        mask-size: 220px;
        background: var(--primary);
      }

    &.mask3 {
        width: 220px;
        height: 220px;
        -webkit-mask-image: url('/mask3.svg');
        mask-image: url('/mask3.svg');
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        mask-size: 220px;
        background: #000000;
      }

    &.mask4 {
        width: 220px;
        height: 220px;
        -webkit-mask-image: url('/mask4.svg');
        mask-image: url('/mask4.svg');
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        mask-size: 220px;
        background: #000000;
      }

      &.fairplay {
        width: 220px;
        height: 220px;
        background-image: url('/fairplay.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center center;
       
      }


    &.xlarge {
        width: 220px;
        height: 220px;
        border-radius: 15px;
        border: 2px solid white;
        background: transparent;
      }

    &.bordered {
        width: 120px;
        height: 120px;
        border-radius: 15px;
        border: 2px solid var(--primary);
        background: transparent;
      }

    &.bordered-table {
        width: 120px;
        height: 120px;
        border-radius: 15px;
        border: 1px solid #f3f3f33e;
        background: var(--primary-glow);
      }
  
    &.mask-large {
      width: 120px;
      height: 120px;
      mask-image: url('/mask.svg');
      mask-repeat: no-repeat;
      mask-size: 120px;
      background: var(--primary);
      color: black;
    }

    &.large {
      width: 120px;
      height: 120px;
    }

    &.regular {
      width: 40px;
      height: 40px;
    }

    &.regular-purple {
      width: 40px;
      height: 40px;
      background: var(--primary);
    }

    &.small {
      width: 20px;
      height: 20px;
    }
  }