
.logo-drop {
    width: fit-content;
    position: absolute;
    left: 49%;
    top: 48%;
    transform: translate(-50%, -50%);
    z-index: -1;
    max-height: 54px;
    width: 53px;
  
    > svg {
        position: relative;

        &:nth-child(2) {
            position: fixed;
        }
    }
  }