@use '@/styles/base/' as *;
.mebuttons {
  position: relative;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 10;

  button {
    outline: none;
    border: none;
    background: none;

    &:hover,
    &:active {
        filter: drop-shadow(2px 2px 5px darken($color-client-2, 30%));

      svg {
        transform: translateY(-3px);
        cursor: pointer;
        stroke: $color-client-1;
      }
    }
    svg {
      width: 3rem;
      height: 3rem;
      fill: transparent;
      stroke: $color-client-2;
      stroke-width: 1px;
      transition: all 0.4s ease-out;
    }
  }
  :nth-child(3) {
    &:hover {
      svg {
        cursor: pointer;
        fill: $color-client-1;
      }
    }
    svg {
      fill: $color-client-2;
    }
  }
}
