 .grid-lines {
  position: absolute;
  width: 100%;
  height: 150%;
  top: 0;
  left: 0;
  z-index: -1;

  .line {
    position: absolute;
    background: rgba(233, 228, 228, 0.1);
    z-index: -1;
  }

  .line-vertical {
    width: 1px;
    height: 100%;
    background: rgba(244, 238, 238, 0.1);
    top: 0;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);

    &:nth-child(3n + 1)::after {
      animation-delay: 4s;
      animation-duration: 10s;
    }

    &:nth-child(5n + 1)::after {
      animation-delay: 2s;
      animation-duration: 5s;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      height: 400px;
      width: 1px;
      top: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(
        to bottom,
        rgba(255, 0, 89, 0) 0%,
        #f239f2d4 75%,
        #eec705be 100%
      );
      animation-delay: 0.6s;
      animation: run 7s 0s infinite linear;
      animation-fill-mode: forwards;

    }
  }

  .line-horizontal {
    width: 100%;
    max-width: 100svw;
    height: 1px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}

@keyframes run {
  0% {
    transform: translateY(-100%);
    opacity: 1;
  }
  98% {
    opacity: 1;
  }
  100% {
    transform: translateY(200%);
    opacity: 0;
  }
}