
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
}

.local-time {
  display: flex;
  justify-content: flex-end;
}

.items {
    position: absolute;
    left: 0;
    top: 0;
    width: 30%;
    height: 100vh;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
  }
  
  .item {
    width: max-content;
    padding: 0.25rem 0;
    cursor: pointer;
    pointer-events: auto;
  }
  
  .item p {
    color: #fff;
    padding: 6px 12px;
    font-weight: lighter;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    backdrop-filter: blur(20px);
    transition: 0.3s;
  }
  
  .item:hover p {
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .preview {
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    color: #fff;
  }
  
  .preview img {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.35;
  }
  
  .preview-title h1 {
    font-weight: lighter;
    font-size: 64px;
  }
  
  .preview-tags p,
  .preview-desc p {
    font-size: 16px;
    line-height: 120%;
  }
  
  .preview.variant-1 .preview-img {
    position: absolute;
    bottom: 0%;
    right: 0%;
    margin: 2rem;
    width: 300px;
    height: 400px;
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  
  .preview.variant-1 .preview-title {
    position: absolute;
    top: 35%;
    left: 25%;
  }
  
  .preview.variant-1 .preview-tags {
    position: absolute;
    bottom: 25%;
    right: 40%;
  }
  
  .preview.variant-1 .preview-desc {
    width: 250px;
    position: absolute;
    right: 25%;
    top: 25%;
  }
  
  /* Variant 2 */
  .preview.variant-2 .preview-img {
    position: absolute;
    top: 10%;
    right: 5%;
    margin: 2rem;
    width: 300px;
    height: 400px;
    clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
  }
  
  .preview.variant-2 .preview-title {
    position: absolute;
    bottom: 30%;
    left: 50%;
  }
  
  .preview.variant-2 .preview-tags {
    position: absolute;
    top: 25%;
    left: 25%;
  }
  
  .preview.variant-2 .preview-desc {
    width: 250px;
    position: absolute;
    right: 10%;
    top: 15%;
  }
  
  /* Variant 3 */
  .preview.variant-3 .preview-img {
    position: absolute;
    top: 20%;
    right: 20%;
    margin: 2rem;
    width: 300px;
    height: 400px;
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
  }
  
  .preview.variant-3 .preview-title {
    position: absolute;
    bottom: 40%;
    right: 30%;
  }
  
  .preview.variant-3 .preview-tags {
    position: absolute;
    bottom: 25%;
    right: 25%;
  }
  
  .preview.variant-3 .preview-desc {
    width: 250px;
    position: absolute;
    left: 10%;
    bottom: 15%;
  }
  