@use '@/styles/base/' as *;
.capabilities {
    position: relative;
    width: 100%;
    color: $color-client-1;
    font-size: $font-size-m;
  
    @media (min-width: 960px) {
      padding-bottom: 4rem;
      width: 70%;
      align-self: center;
    }
  
    @media (min-width: 1200px) {
      padding-bottom: 4rem;
      width: 60vw;
      align-self: center;
    }
  
    .top {
      margin: 4rem 0 1rem;
      display: flex;
      align-items: center;
    }

    section {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-evenly;

        @media (min-width: 960px) {
            flex-flow: row wrap;
          }        

        .wrapper {
            width: 100%;
            padding: 1rem 0;
            /* border: 1px solid $color-client-5; */
            display: flex;
            flex-direction: column;
            transition: background 0.3s ease-in-out;

            @media (min-width: 960px) {
                width: 25vw;
              }   

            &:hover {
                cursor: pointer;
                background-color: $color-client-5;
            }

            div {
                height: 100px;
                width: 100%;
                display: flex;
                align-items: center;
                flex-direction: row;

                h3 {
                    margin: 1rem 0;
                    margin-right: 2rem;
                }    
                    img {
                        width: 46px;
                        height: 46px;
                        object-fit: cover;
                    }
            }
            p {
                margin-bottom: 0.5rem;
                font-size: $font-size-s;
            }
        }
    }
}
