@use '@/styles/base/' as *;
.top-scroll-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
    position: absolute;
    left: auto;
      right: $body-space;
      bottom: 20vh;

    .top-scroll-text {
      transform: rotate(90deg);
      opacity: 1;
      white-space: nowrap;
      font-size: 0.8rem;
      letter-spacing: 0.2em;
      margin-bottom: 2rem;
      color: #888;
    }

    .top-scroll-line {
      width: 1px;
      height: 120px;
      background-color: #343434;
      overflow: hidden;

      .top-scroll-line-in {
        width: 1px;
        height: 100%;
        background-color: white;
        animation: pulseY infinite 3s cubic-bezier(0.075, 0.82, 0.165, 1);
      }
    }
  }

  @keyframes pulseY {
    from {
      transform: translateY(-120px);
    }

    to {
      transform: translateY(120px);
    }
  }